.local1 {
    width: 300px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: -40px;
    background: #d3cdcd;
    opacity: .80;
    color: rgb(0, 0, 0);
    top: -560px;
    left: 200px;

}
.local {
    width: 600px;
    height: 420px;
    position: relative;
    overflow: hidden;
    margin: -100px;
    background: white;
    border:5px solid rgb(192, 118, 118);
    border-radius: 5px;
    top: -430px;
    left: 500px;
}
.estamb1 {
    width: 210px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: -400px;
    background: #c4e2c4;
    opacity: 1;
    color: rgb(0, 0, 0);
    top: -10px;
    left: 990px;

}

