<div class="estamb">
    <div class="capa11"><h4>Estatus de la Humedad Actual:</h4></div>
    
 </div>
<div class="gramb">
    <div class="capa1"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grafica de la Humedad</h2></div>
    
 </div>

 <div class="estamb1">
    <div class="capa11"><h4><a [routerLink]="['/home']" routerLinkActive="router-link-active" class="close-sesion">Regresar a la Pagina Anterior</a></h4>
    </div>
    
 </div>

