<nav class="navbar navbar-inverse bg-inverse">
</nav>


<div>

<div class="container">
 <div class="box">
    <img src="../../../assets/img/tempa.jpg" alt=""><div class="capa"><h2 >Sensor de Temp. Hambeintal</h2></div>
    <a href="*" class="close-sesion">Ver Detalles</a>
 </div>

 <div class="box">
    <img src="../../../assets/img/hume.jpg" alt=""><div class="capa"><h2>Sensor de Humedad Hambeintal</h2></div>
    <a href="*" class="close-sesion">Ver Detalles</a>

 </div>

 <div class="box">
    <img src="../../../assets/img/tagua.jpg" alt=""><div class="capa"><h2>Sensor de Temp. del Agua</h2></div>
    <a href="*" class="close-sesion">Ver Detalles</a>

 </div>

 <div class="box">
    <img src="../../../assets/img/ventilador.jpg" alt=""><div class="capa"><h2>Sensor del Ventilador</h2></div>
    <a href="*" class="close-sesion">Ver Detalles</a>

 </div>
</div>

<div class="local">
   <img src="../../../assets/img/general.gif" alt=""><div class="capa1"><h2>Estatus general</h2></div>
   <a href="*" class="close-sesion">Ver Detalles</a>

</div>




