<nav class="navbar navbar-inverse bg-inverse">
</nav>


<div>

<div class="container">
 <div class="box">
    <img src="../../../assets/img/tempa.jpg" alt=""><div class="capa"><h2 >Sensor de Temp. Ambeintal</h2></div>
    <a [routerLink]="['/temperatura']" routerLinkActive="router-link-active" class="close-sesion">Ver Detalles</a>
 </div>

 <div class="box">
    <img src="../../../assets/img/hume.jpg" alt=""><div class="capa"><h2>Sensor de Humedad Ambeintal</h2></div>
    <a [routerLink]="['/humedad']" routerLinkActive="router-link-active" class="close-sesion">Ver Detalles</a>

 </div>

 <div class="box">
    <img src="../../../assets/img/temagua.jpg" alt=""><div class="capa"><h2>Bomba de Agua</h2></div>
    <a [routerLink]="['/temp-agua']" routerLinkActive="router-link-active" class="close-sesion">Ver Detalles</a>

 </div>

 <div class="box">
    <img src="../../../assets/img/ventilador.jpg" alt=""><div class="capa"><h2>Sensor del Ventilador</h2></div>
    <a [routerLink]="['/ventilador']" routerLinkActive="router-link-active" class="close-sesion">Ver Detalles</a>

 </div>
</div>

<div class="local">
   <img src="../../../assets/img/general.gif" alt=""><div class="capa1"><h2>Estatus general</h2></div>
   <a [routerLink]="['/estatus-general']" routerLinkActive="router-link-active" class="close-sesion">Ver Detalles</a>

</div>




