
    <div class="login-box">
        <img class="avatar" src="../../../assets/img/user.png" >
        
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

            <input type="text" placeholder=" Usuario" name="usuario" >  

                <input type="password" placeholder=" Contraseña" name="contraseña">

                <a href="./humedad" ></a><input type="submit" value="&#9094; Entrar"> 
                <a href="./humedad" class="close-sesion">Ver Detalles</a>
        </form>
       
    </div>


