
<div class="local">
    <div class="capa1"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grafica del Estatus Genarl del Invernadero</h2></div>
    
 </div>

 <div class="container1">
    <div class="box"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEMPERATURA</h3></div>
    
    </div>

 <div class="container2">
    <div class="box2"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;HUMEDAD</h3></div>
</div>

 <div class="container3">
    <div class="box3"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AGUA</h3></div>
    
    </div>

 <div class="container4">
    <div class="box4"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VENTILADOR</h3></div>
    
    </div>   
    <div class="estamb1">
        <div class="capa11"><h4><a [routerLink]="['/home']" routerLinkActive="router-link-active" class="close-sesion">Regresar a la Pagina Anterior</a></h4>
        </div>
        
     </div>