
.graventi {
    width: 550px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: -10px;
    background: white;
    border:5px solid rgb(182, 165, 10);
    border-radius: 5px;
    top: -550px;
    left: 400px;
}

.estamb1 {
    width: 210px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: -410px;
    background: #c4e2c4;
    opacity: 1;
    color: rgb(0, 0, 0);
    top: -100px;
    left: 980px;

}